<a href="https://colab.research.google.com/github/bhuiyanmobasshir94/Cow-weight-and-Breed-Prediction/blob/main/notebooks/027_dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import numpy as np
import pandas as pd
import sys
import os
import PIL
import PIL.Image
import tensorflow as tf
import tensorflow.keras as keras
import tensorflow_datasets as tfds
import pathlib

In [110]:
from sklearn.model_selection import train_test_split

In [3]:
images_dataset_url = "https://cv-datasets-2021.s3.amazonaws.com/images.tar.gz"
images_data_dir = tf.keras.utils.get_file(origin=images_dataset_url,
                                   fname='images',
                                   untar=True)
images_data_dir = pathlib.Path(images_data_dir)

In [4]:
yt_images_dataset_url = "https://cv-datasets-2021.s3.amazonaws.com/yt_images.tar.gz"
yt_images_data_dir = tf.keras.utils.get_file(origin=yt_images_dataset_url,
                                   fname='yt_images',
                                   untar=True)
yt_images_data_dir = pathlib.Path(yt_images_data_dir)

Downloading data from https://cv-datasets-2021.s3.amazonaws.com/yt_images.tar.gz
4026998784/4026992587 [==============================] - 81s 0us/step
4027006976/4026992587 [==============================] - 81s 0us/step

In [71]:
if sys.platform == 'darwin':
  os.system(f"dot_clean {images_data_dir}")
  os.system(f"dot_clean {yt_images_data_dir}")
elif sys.platform.startswith("lin"):
  os.system(f"cd {images_data_dir} && find . -type f -name '._*' -delete")
  os.system(f"cd {yt_images_data_dir} && find . -type f -name '._*' -delete")

In [72]:
image_count = len(list(images_data_dir.glob('*/*.jpg')))
print(image_count)

2056

In [73]:
yt_image_count = len(list(yt_images_data_dir.glob('*/*.jpg')))
print(yt_image_count)

15843

In [75]:
df = pd.read_csv("https://cv-datasets-2021.s3.amazonaws.com/dataset.csv")
df.shape

(513, 14)

In [101]:
df.head(2)

        sku        sex    color  ... images_count yt_images_count  total_images
0  BLF 2340  MALE_BULL      RED  ...            4               0             4
1  BLF 2342  MALE_BULL  NON_RED  ...            4              31            35

[2 rows x 14 columns]

In [76]:
images = list(images_data_dir.glob('*/*.jpg'))
yt_images = list(yt_images_data_dir.glob('*/*.jpg'))

In [93]:
min_height = 0
max_height = 0
min_width = 0
max_width = 0
for i, image in enumerate(images):
  if i == 0:
    min_height = h
    max_height = h
    min_width = w
    max_width = w

  w, h = PIL.Image.open(str(image)).size
  if h <= min_height:
    min_height = h
  if h >= max_height:
    max_height = h

  if w <= min_width:
    min_width = w
  if w >= max_width:
    max_width = w

print(f"min_height: {min_height}")
print(f"min_width: {min_width}")
print(f"max_height: {max_height}")
print(f"max_width: {max_width}")

min_height: 450
min_width: 800
max_height: 720
max_width: 1280

In [94]:
min_height = 0
max_height = 0
min_width = 0
max_width = 0
for i, image in enumerate(yt_images):
  if i == 0:
    min_height = h
    max_height = h
    min_width = w
    max_width = w

  w, h = PIL.Image.open(str(image)).size
  if h <= min_height:
    min_height = h
  if h >= max_height:
    max_height = h

  if w <= min_width:
    min_width = w
  if w >= max_width:
    max_width = w

print(f"min_height: {min_height}")
print(f"min_width: {min_width}")
print(f"max_height: {max_height}")
print(f"max_width: {max_width}")

min_height: 675
min_width: 1200
max_height: 720
max_width: 1280

In [106]:
f_df = pd.DataFrame(columns = ['file_path', 'teeth', 'age_in_year', 'breed', 'height_in_inch', 'weight_in_kg'])
for index, row in df.iterrows():
  images = list(images_data_dir.glob(f"{row['sku']}/*.jpg"))
  yt_images = list(yt_images_data_dir.glob(f"{row['sku']}/*.jpg"))

  for image in images:
    f_df = f_df.append({'file_path' : image, 'teeth' : row['teeth'], 'age_in_year' : row['age_in_year'], 'breed': row['breed'], 'height_in_inch': row['height_in_inch'], 'weight_in_kg': row['weight_in_kg']}, 
                ignore_index = True)
    
  for image in yt_images:
    f_df = f_df.append({'file_path' : image, 'teeth' : row['teeth'], 'age_in_year' : row['age_in_year'], 'breed': row['breed'], 'height_in_inch': row['height_in_inch'], 'weight_in_kg': row['weight_in_kg']}, 
                ignore_index = True)

In [107]:
f_df.shape

(17864, 6)

In [109]:
f_df.head(1)

                                           file_path  ... weight_in_kg
0  /root/.keras/datasets/images/BLF 2340/BLF 2340...  ...        270.0

[1 rows x 6 columns]

In [111]:
train_df, valid_test_df = train_test_split(f_df, test_size=0.3)
validation_df, test_df = train_test_split(valid_test_df, test_size=0.3)
print(f"train_df: {train_df.shape}")
print(f"validation_df: {validation_df.shape}")
print(f"test_df: {test_df.shape}")

train_df: (12504, 6)
validation_df: (3752, 6)
test_df: (1608, 6)